/* font-family: 'Roboto', ; */

* {
    font-family: 'Roboto', ;
    margin: 0;
    padding: 0;
    
    background-color: #ebebeb;
}

body {
    color: #000;
    margin: 0;
    padding: 0;
}

/*-------------------------------Шапка---------------------------------------*/

.header > h1 {
    text-align: center;
    font-size: 72px;
    font-weight: 500;
}

.header > h1::first-letter {
    color: red;
}

.header {
    padding-top: 3em;
    padding-bottom: 2em;
}

/*---------------------------Страница------------------------------------*/

.page-wrapper
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    max-width: 1300px;
    min-width: 320px;
    margin: 0 auto;
    background-color: #ebebeb;
}

/*-------------------------------Главный блок----------------------------------*/

.page-main
{
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 28px [nav] 210px 15px [main] 1fr 15px [rside] 230px 28px;
    grid-template-rows: auto;
}

.page-main > input[name='cat-breed']
{
    display: none;
}

/*---------------------------Навигациии блок---------------------------*/

.navigation
{
    grid-column: nav;
}

.navigation__item
{
    display: block;
    font-size: 2rem;
    padding: 15px;
    cursor: pointer;
}

.navigation__item:hover
{
    background-color: #888;
}

input[id='maine_kun']:checked ~ .navigation > .navigation__item[for='maine_kun'],
input[id='abbys']:checked ~ .navigation > .navigation__item[for='abbys'],
input[id='bengal']:checked ~ .navigation > .navigation__item[for='bengal'],
input[id='british']:checked ~ .navigation > .navigation__item[for='british'],
input[id='russian']:checked ~ .navigation > .navigation__item[for='russian'],
input[id='scotland']:checked ~ .navigation > .navigation__item[for='scotland'],
input[id='siam']:checked ~ .navigation > .navigation__item[for='siam'],
input[id='syberian']:checked ~ .navigation > .navigation__item[for='syberian'],
input[id='cansel']:checked ~ .navigation > .navigation__item[for='cansel']
{
    background-color: #5a5a5a;
    color: #fff;
}

/*----------------------------Блок фоток----------------------------------*/

.photos
{
    grid-column: main;
    display: grid;
    grid-template-columns: [img1-start] 250px [img1-end] 12px [img2-start] 250px [img2-end] 12px [img3-start] 250px [img3-end];
    grid-template-rows: auto;
    margin-top: -12px;
}

.photo-card
{
    height: 250px;
    overflow: hidden;
    position: relative;
    margin-top: 12px;
}

.photo-card:nth-of-type(8n + 1),
.photo-card:nth-of-type(8n + 3)
{
    grid-column: img1-start;
}

.photo-card:nth-of-type(8n + 4)
{
    grid-column: img2-start;
}

.photo-card:nth-of-type(8n + 5),
.photo-card:nth-of-type(8n + 7)
{
    grid-column: img3-start;
}

.photo-card:nth-of-type(8n + 2)
{
    grid-column: img2-start / img3-end;
}

.photo-card:nth-of-type(8n + 6)
{
    grid-column: img1-start / img2-end;
}

.photo-card:nth-of-type(8n + 8)
{
    grid-column: img1-start / img3-end;
}

.photo-card:nth-of-type(8n + 2) > .photo-card__image
{
    position: relative;
    height: auto;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%);
}

.photo-card:nth-of-type(8n + 6) > .photo-card__image
{
    position: relative;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.photo-card:nth-of-type(8n + 8) > .photo-card__image
{
    position: relative;
    height: auto;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
}

.photo-card__info
{
    display: none;
    position: absolute;
    left: 0;
    bottom: 25px;
    font-size: 1.6rem;
    padding: 15px 10px;
    margin: 0;
    color: #fff;
    background-color: rgba(122, 122, 122, .7);
}

.photo-card:hover > .photo-card__info
{
    display: block;
}

.photo-card__image
{
    width: 100%;
    height: 100%;
}

#maine_kun:checked ~ .photos > .photo-card:not(.maine_kun),
#abbys:checked ~ .photos > .photo-card:not(.abbys),
#bengal:checked ~ .photos > .photo-card:not(.bengal),
#british:checked ~ .photos > .photo-card:not(.british),
#russian:checked ~ .photos > .photo-card:not(.russian),
#scotland:checked ~ .photos > .photo-card:not(.scotland),
#siam:checked ~ .photos > .photo-card:not(.siam),
#syberian:checked ~ .photos > .photo-card:not(.syberian)
{
    -webkit-filter: grayscale(1) opacity(.75) blur(2px);
    filter: grayscale(1) opacity(.75) blur(2px);
}

/*----------------------------Ранжирование--------------------------------------*/

.rating {
    grid-column: rside;
    align-self: start;
    padding: 5px 15px 15px;
}

.rating > h3 {
    font-size: 32px;
    padding-bottom: 1em;
    text-align: center;
    color: red;
}

.rating input,
.rating label {
    font-size: .7em;
    float: right;
    margin: 5px 3px;
}
ul.rating-items {
    clear: both;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 10px 0 0;
    font-size: 18px;
    font-weight: bold;
}

ul.rating-items li {
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 15px;    
}
ul.rating-items li:before {
    content: attr(data-value);
    position: absolute;
    right: 0px;
    top: 25px;
}

ul.rating-items li:after {
    content: " ";
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.459);
    height: 20px;
    top: 25px;
    left: 0;
}
ul.rating-items li[data-value="10"]:after { width: 80%;}

ul.rating-items li[data-value="9"]:after { width: 72%;}

ul.rating-items li[data-value="8"]:after { width: 64%;}

ul.rating-items li[data-value="7"]:after { width: 56%;}

ul.rating-items li[data-value="6"]:after { width: 48%;}

ul.rating-items li[data-value="5"]:after { width: 40%;}

ul.rating-items li[data-value="4"]:after { width: 32%;}

ul.rating-items li[data-value="3"]:after { width: 24%;}

ul.rating-items li[data-value="2"]:after { width: 16%;}

ul.rating-items li[data-value="1"]:after { width: 8%;}

ul.rating-items li[data-value="10"]:after,
ul.rating-items li[data-value="9"]:after {
    background: linear-gradient(to right, #00b152 55%, white 90%);
}

ul.rating-items li[data-value="8"]:after,
ul.rating-items li[data-value="7"]:after,
ul.rating-items li[data-value="6"]:after,
ul.rating-items li[data-value="5"]:after {
    background: linear-gradient(to right, #e0d900 55%, white 90%);
}

ul.rating-items li[data-value="4"]:after,
ul.rating-items li[data-value="3"]:after,
ul.rating-items li[data-value="2"]:after,
ul.rating-items li[data-value="1"]:after {
    background: linear-gradient(to right, rgb(182, 1, 1) 50%, white 90%);
}

.rating input#sort:checked ~ .rating-items li[data-value="10"] { order: 1;}
.rating input#sort:checked ~ .rating-items li[data-value="9"] { order: 2;}
.rating input#sort:checked ~ .rating-items li[data-value="8"] { order: 3;}
.rating input#sort:checked ~ .rating-items li[data-value="7"] { order: 4;}
.rating input#sort:checked ~ .rating-items li[data-value="6"] { order: 5;}
.rating input#sort:checked ~ .rating-items li[data-value="5"] { order: 6;}
.rating input#sort:checked ~ .rating-items li[data-value="4"] { order: 7;}
.rating input#sort:checked ~ .rating-items li[data-value="3"] { order: 8;}
.rating input#sort:checked ~ .rating-items li[data-value="2"] { order: 9;}
.rating input#sort:checked ~ .rating-items li[data-value="1"] { order: 10;}

/*----------------------------Подвал------------------------------------------*/

.footer > .organisation {
    font-size: 24px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.footer > .address {
    padding-top: 1.5em;
    padding-bottom: 1em;
}

.footer > .address > a {
    font-size: 24px;
    color: black;
    text-decoration: none;
}

.footer > .address > a:visited {
    text-decoration: none;
    color: black;
}

.footer {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid black;
}

/*----------------------------------------------------------------------*/

